/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Partie pour la page LOG IN */

.log-in {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.log-in h2{
	margin-top: 10%;
}

.formulaire{
	width: 1O0%;
	margin-top: 4%;
}

.formulaire p{
	padding-top: 12px;
	padding-bottom: 8px;
}

.formulaire input{
	width: 100%;
	height: 42px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-style: none;
	margin-bottom: 12px;
}
.connect{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30%;
}
.connect input{
	height: 36px;
	border-style: none;
	cursor: pointer;
}
.connect p{
	border-bottom: solid 0.6px;
}

/* Partie filtres */ 

.filters button{
	border-radius: 90px;
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	border-width: 1.4px;
	border-color: #1D6154;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #FFFEF8;
	cursor: pointer;
	margin-left: 2%;

}

.filters{
	display: flex;
	justify-content: center;
	margin-bottom: 6%;
}

.mes-projets {
	display: flex;
	flex-direction: row;
	height: 80px;
	position: relative;
}
.mes-projets h2 {
	font-weight: 700;
	font-size: 30px;
	position: absolute;
	left: 40%;
	z-index: 0;
}
.modifier {
	position: absolute;
	left: 68%;
	top: 12%;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	color: black;
}

/* Partie modale */
* { box-sizing: border-box;}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.modale_wrapper {
	width: 45%;
	height: 90%;
	background-color: white;
	padding: 20px;
	position: relative;
}



aside .x {
	text-decoration: none;
	border-style: hidden;
	background-color: white;
	text-align: end;
	width: 100%;
}
.x i{
	cursor: pointer;
}
aside #modale_title {
	width: 100%;
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	margin-top: 5%;
}

.buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 5%;
	left: 10%;
	border-top: solid;
	border-color: #B3B3B3;
	padding-top: 5%;
	padding-left: 17%;
	padding-right: 17%;
	width: 80%;
}

.add_picture {
	font-size: 14px;
	font-weight: 700;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-radius: 90px;
	color: white;
	background-color: #1D6154;
	border-color: #1D6154;
	border-width: 0px;
	cursor: pointer;
}
.validation{
	font-size: 14px;
	font-weight: 700;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-radius: 90px;
	color: white;
	background-color: #A7A7A7;
	border-color: #A7A7A7;
	border-width: 0px;
	cursor: pointer; 
}
.delete_all {
	font-size: 14px;
	font-weight: 400;
	border-style: none;
	background-color: white;
	color: #D65353;
	cursor: pointer;
}

/* Modal 2 */

.add_picture_wrap{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-bottom: 0px;
}
.add_picture_space{
	width: 70%;
	height: 80%;
	background-color: #E8F1F7;
	border-style: solid;
	position: relative;
}
.input{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project_title{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project_category{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project_title_input{
	width: 70%;
	margin-top: 1%;
	margin-bottom: 5%;
	border-style: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}
.project_category_input{
	width: 70%;
	margin-top: 1%;
	margin-bottom: 5%;
	border-style: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.input p{
	font-size: 14px;
	font-weight: 500;
}

.ajouter_photo{
	font-size: 14px;
	font-weight: 500;
	color: #306685;
	position: absolute;
	bottom: 20%;
	left: 30%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 90px;
	background-color: #CBD6DC;
	border-style: none;
	cursor: pointer;
}

.hidden{
	display: none;
}